<%= form_with  model: product, class: "form" do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-field-full", required: true,title:"required" %>
  </div>

  <div class="form-row">
    <div class="form-field-flex">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>
    
    <div class="form-field-flex">
      <%= form.label :inventory_count %>
      <%= form.number_field :inventory_count, required: true,title:"required" %>
    </div>

  </div>
  <div class="form-field-flex">
    <%= form.label :featured_image %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>  

  <div>
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>