<h1><%= t "Products" %></h1>

<%= link_to "New product", new_product_path, class:"btn-rails" if authenticated? %>
<div id="products">
  <table>
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Inventory Count</th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
          </td>
          <td><%= product.name %></td>
          <td><%= product.price || "-" %></td>
          <td><%= product.inventory_count || 0 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>