<p><%= link_to "Back", products_path, class: "btn-rails" %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>
  <section class="product-info">
    <% cache @product do %>
      <h1>
        <%= @product.name %>
      </h1>
      <%= @product.description %>
    <% end %>
    <%= render "inventory", product: @product %>
    <% if authenticated? %>
      <%= link_to "Edit", edit_product_path(@product), class: "btn-rails" %>
      <%= link_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-rails" %>
    <% end %>
    <%=  link_to   "Back", products_path, class: "btn-rails" %>
  </section>
</section>