<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless notice.nil? %>
      <div class="notice"><%= notice %></div> 
    <% end %>
    <nav class="nav-rails">
      <div class="nav-links">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </div>
      <div class="user-menu nav-link" data-controller="dropdown">
          <% if authenticated? %>
            <button class="user-icon" id="userMenuButton" data-action="click->dropdown#toggle click@window->dropdown#hide">
              <% if current_user.featured_image.nil? %>
                <i class="fas fa-user-circle"></i>
              <% else %>
                <%= image_tag current_user.featured_image %>
              <% end %>
            </button>
            <div class="dropdown-content" id="userDropdown" data-dropdown-target="menu">
              <p class= "name"><%= current_user.name %></p>
              <%= link_to "Account Info", edit_user_path(current_user), class: "dropdown-item" %>
              <%= button_to "Log out", session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% else %>
            <%= link_to new_session_path, class: "user-icon" do %>
              <i class="fas fa-user-circle"></i>
            <% end %>
          <% end %>
        </div>
    </nav>
    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
